<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2nd Line.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>140916CE546BF76AE79998F0B189331DB9143C21</string>
				<key>dateExpires</key>
				<string>10/09/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>140916CE546BF76AE79998F0B189331DB9143C21</string>
						<key>dateExpires</key>
						<string>10/09/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y7YLFDJSF3</string>
						<key>name</key>
						<string>Archana Rajput</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>140916CE546BF76AE79998F0B189331DB9143C21</string>
						<key>dateExpires</key>
						<string>10/09/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y7YLFDJSF3</string>
						<key>name</key>
						<string>Archana Rajput</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>140916CE546BF76AE79998F0B189331DB9143C21</string>
						<key>dateExpires</key>
						<string>10/09/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y7YLFDJSF3</string>
						<key>name</key>
						<string>Archana Rajput</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>140916CE546BF76AE79998F0B189331DB9143C21</string>
						<key>dateExpires</key>
						<string>10/09/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y7YLFDJSF3</string>
						<key>name</key>
						<string>Archana Rajput</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>140916CE546BF76AE79998F0B189331DB9143C21</string>
						<key>dateExpires</key>
						<string>10/09/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GiphyUISDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y7YLFDJSF3</string>
						<key>name</key>
						<string>Archana Rajput</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.21</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>140916CE546BF76AE79998F0B189331DB9143C21</string>
						<key>dateExpires</key>
						<string>10/09/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y7YLFDJSF3</string>
						<key>name</key>
						<string>Archana Rajput</string>
					</dict>
					<key>versionNumber</key>
					<string>7.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>140916CE546BF76AE79998F0B189331DB9143C21</string>
						<key>dateExpires</key>
						<string>10/09/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JSQMessagesViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y7YLFDJSF3</string>
						<key>name</key>
						<string>Archana Rajput</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>140916CE546BF76AE79998F0B189331DB9143C21</string>
						<key>dateExpires</key>
						<string>10/09/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JSQSystemSoundPlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y7YLFDJSF3</string>
						<key>name</key>
						<string>Archana Rajput</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>140916CE546BF76AE79998F0B189331DB9143C21</string>
						<key>dateExpires</key>
						<string>10/09/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PhoneNumberKit-Dynamic.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y7YLFDJSF3</string>
						<key>name</key>
						<string>Archana Rajput</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>140916CE546BF76AE79998F0B189331DB9143C21</string>
						<key>dateExpires</key>
						<string>10/09/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SAConfettiView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y7YLFDJSF3</string>
						<key>name</key>
						<string>Archana Rajput</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>140916CE546BF76AE79998F0B189331DB9143C21</string>
						<key>dateExpires</key>
						<string>10/09/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TransitionButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y7YLFDJSF3</string>
						<key>name</key>
						<string>Archana Rajput</string>
					</dict>
					<key>versionNumber</key>
					<string>0.5.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>30089</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>140916CE546BF76AE79998F0B189331DB9143C21</string>
						<key>dateExpires</key>
						<string>10/09/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TwilioVoice.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y7YLFDJSF3</string>
						<key>name</key>
						<string>Archana Rajput</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>140916CE546BF76AE79998F0B189331DB9143C21</string>
						<key>dateExpires</key>
						<string>10/09/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>iRecordView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y7YLFDJSF3</string>
						<key>name</key>
						<string>Archana Rajput</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>140916CE546BF76AE79998F0B189331DB9143C21</string>
						<key>dateExpires</key>
						<string>10/09/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y7YLFDJSF3</string>
						<key>name</key>
						<string>Archana Rajput</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30907.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>140916CE546BF76AE79998F0B189331DB9143C21</string>
						<key>dateExpires</key>
						<string>10/09/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>Y7YLFDJSF3.com.aaah.test.IntentHandler-Lyne</string>
						<key>com.apple.developer.team-identifier</key>
						<string>Y7YLFDJSF3</string>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>IntentHandler_Lyne.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>0633e05b-4a7f-4a10-823d-4e60908060b3</string>
						<key>dateExpires</key>
						<string>28/03/23</string>
						<key>name</key>
						<string>AAAH_Wildcard</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y7YLFDJSF3</string>
						<key>name</key>
						<string>Archana Rajput</string>
					</dict>
					<key>versionNumber</key>
					<string>3.9.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>140916CE546BF76AE79998F0B189331DB9143C21</string>
						<key>dateExpires</key>
						<string>10/09/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>Y7YLFDJSF3.com.aaah.test.IntentHandlerUI</string>
						<key>com.apple.developer.team-identifier</key>
						<string>Y7YLFDJSF3</string>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>IntentHandler_LyneUI.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>0633e05b-4a7f-4a10-823d-4e60908060b3</string>
						<key>dateExpires</key>
						<string>28/03/23</string>
						<key>name</key>
						<string>AAAH_Wildcard</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y7YLFDJSF3</string>
						<key>name</key>
						<string>Archana Rajput</string>
					</dict>
					<key>versionNumber</key>
					<string>3.9.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>140916CE546BF76AE79998F0B189331DB9143C21</string>
						<key>dateExpires</key>
						<string>10/09/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>Y7YLFDJSF3.com.aaah.test.LyneWidget</string>
						<key>com.apple.developer.team-identifier</key>
						<string>Y7YLFDJSF3</string>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>LyneWidgetExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>11c912cc-58c2-4705-96a1-d6c2cfbf9e81</string>
						<key>dateExpires</key>
						<string>28/03/23</string>
						<key>name</key>
						<string>AAAH_Lyne_Widget</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y7YLFDJSF3</string>
						<key>name</key>
						<string>Archana Rajput</string>
					</dict>
					<key>versionNumber</key>
					<string>3.9.5</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y7YLFDJSF3.com.aaah.test</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>Y7YLFDJSF3</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>2nd Line.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0056e2b3-e80c-4ed7-9677-bcbb021d4068</string>
				<key>dateExpires</key>
				<string>28/03/23</string>
				<key>name</key>
				<string>AAAH TEST Development Profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y7YLFDJSF3</string>
				<key>name</key>
				<string>Archana Rajput</string>
			</dict>
			<key>versionNumber</key>
			<string>3.9.5</string>
		</dict>
	</array>
</dict>
</plist>
