<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986663348257-n8b1dk0kelm78d2da9dhj0eopjs0jp0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986663348257-n8b1dk0kelm78d2da9dhj0eopjs0jp0q</string>
	<key>API_KEY</key>
	<string>AIzaSyCnSPbQZkkIEXf8nJkioZh49myO9QeVuYw</string>
	<key>GCM_SENDER_ID</key>
	<string>986663348257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com..EncryptedAPIDemo</string>
	<key>PROJECT_ID</key>
	<string>dynamiclinkdemo-37732</string>
	<key>STORAGE_BUCKET</key>
	<string>dynamiclinkdemo-37732.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986663348257:ios:00f7c162d31d46a0d25b60</string>
</dict>
</plist>